*{
    margin: 0%;
    padding: 0;
}

.header{
    background-color: #128c7e;
    width: 100%;
    height: 91px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

nav{
    display: flex;
    align-items: center;
    padding: 25px 0px 25px 240px;
}
.logo-left{
    width: 200px;
}

.logo{
    margin-right: 60px;
}

.icon{
    height: 15px;
    width: 15px;
}

.nav-links ul li{
    display: inline-block;
    list-style: none;
}

.nav-links ul li a{
    font-size: 15px;
    line-height: 26px;
    color: #FFFFFF;
    font-family: Helvetica , Helvetica, Arial, sans-serif;
    padding: 8px 25px;
    text-decoration: none;
    text-transform: uppercase;   
}


.first-container{
    margin: 0px 250px;
    display: flex;
    padding: 50px;
    justify-content: space-evenly;
    
}

.block1{
    width: 394px;
    height: 572.63px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;     
}

.block1-details{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.block1 h2{
    font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 33px;
    line-height: 43px;
    padding-bottom: 16px;
    margin-top: 50px;
}

.block1-para{
    font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
}

.block1-para2{
    margin: 16px 0;
    color: #5E5E5E;
    font-size: 16px;
    font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
}



.download-options{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    margin-bottom: 40px;

}
.download-options li{
    list-style: none;
    padding: 5px 0;
}

.download-options li:hover{
    text-decoration: underline;
}

.download-options li a{
    text-decoration: none;
    font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #1CB39B;
    font-size: 18px;
}

.download-options li a img{
    width: 4%;
}

.block2{
    display: flex;
    flex-direction: column;

}

.second-container{
    margin: 0 25px;
    display: flex;
    justify-content: space-around;
}

.second-container-block1{
    background-color: #D8E8EA;
    width: 704px;
    height: 898px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 50px;
    align-items: center;
    text-align: center;
}

.second-container h1{
    font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 34px;
    line-height: 44px;
    padding-top: 30px;
}

.second-container p{
    font-size: 18px;
    line-height: 26px;
    font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 400;
    padding: 0 70px;
}

.second-container-block1 a{
    text-decoration: none;
    color: #39b3ed;
}

.business-link:hover{
    text-decoration: underline;
}

.second-para{
    padding-bottom: 30px;
}

.second-container-block2{
    background-color: #E7F0E4;
    width: 704px;
    height: 898px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 50px;
    align-items: center;
    text-align: center;
}

.second-container-block2 h3{
    color: #5E5E5E;
    font-size: 16px;
    letter-spacing: .15em;
    font-weight: 700;
    font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.second-container-block2 p{
    padding: 0 65px 150px 65px;
}

.circle{
    height: 350px;
    width: 350px;
    background-color: #77d7c8;
    border-radius: 50%;
    display: flex;
    align-items: center;

}
.second-container-block2 h1{
    padding-top: 8px;
}

.button {
    background-color: #4CAF50;
    width: 214px;
    height: 55px;
    cursor: pointer;
    font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #128c7e;
    background: #fff;
    border-radius: 40px;
    border: 2px solid #77d7c8;
    font-size: 16px;
    

}

.button-class{
    display: flex;
    justify-content: center;
    padding: 50px 32px;
}


.footer{
    padding-top: 30px;
}

.footor-sub{
    display: flex;
    padding: 56px 20px;
    background-color: #273443;
    justify-content: center;
}

.footer-contents{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 1050px;
    width: 90%;
}

.content{
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    width: 25%;

}

.content h3{
    color: #F0F4F9;
    padding-bottom: 32px;
    font-weight: 700;
    letter-spacing: 1.7px;
    line-height: 17px;
    font-size: 15px;
    font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.content h4{
    color: #FFFFFF;
    padding-bottom: 4px;
    font-size: 18px;
    line-height: 26px;
    font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 400;
}

.footer-contents h4:hover{
    text-decoration: underline;
    cursor: pointer;
}

.foot-tag{
    display: flex;
    justify-content: center;
    padding: 4px 24px;
    background-color: #1c1e21;
}

.foot-elements{
    max-width: 1050px;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.foot-elements h4{
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
    font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 400;
    padding: 16px 0;;
}



.foot-elements h6{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
    padding: 16px 0;
}

